
.container{
    min-height:730vh;
    width: 218vh;
}
.top{
    height: 331vh;
    background-color: darkorchid;
    width: 218;
}
.bottom{
    height:399 vh;
    background-color:white;
    width: 218vh;
}
.footer{
    height: 50vh;
    background-color: lightgray;
    width: 218vh;
}

.navBar{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: white;
    padding-left: 40px;
    padding-right: 80px;
}
.navDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
    cursor: pointer;
}
li{
    list-style: none;
    display:inline-block;
    padding: 10px 20px;
}
.signUpBtn{
    margin-left: 10px;
    border-radius: 50px;
    border: none;
    font-size: 25px;
    color:darkorchid;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}
.heading{
    display:inline-block;
    padding: 20px 20px;
    font-size: 35px;
    padding-left: 40px;
    padding-right: 80px;
}
img{
    width: 400px;
    height: 400px;
    padding-left: 80px;
    padding-right: 80px;
}
.img2{
    position: relative;
    text-align: left;
    
}
.img2 img{
    width: 1000px;
    height: 950px;
    float: right;
    position: absolute;
    top: -300px;
    left: 500px;
    padding-right: 200px;
}
.img2 h1{
    position: absolute;
    font-size: 90px;
    color: white;
    left: -1130px;
    padding-left: 20px;
    display: inline;
}
.searchBox input{
    border-radius: 50px;
    background-color: white;
    position: absolute;
    top: 980px;
    left: 60px;
    width:750px;
    height: 80px;
    font-size: 35px;
    border: none;
}

.searchBox i{
    position: absolute;
    border-radius: 50%;
    width: 5px;
    height: 40px;
    top: 990px;
    left: 700px;
    background-color:orangered;
    font-size: 35px;
    padding: 14px 35px;
    color: white;
    cursor: pointer;
}
.para1{
    position: absolute;
    top: 1280px;
    font-size: 45px;
    font-weight:100;
    color: white;
    /* border: 1px solid black; */
    left: 60px;
    padding: 50px;
    background-color:rebeccapurple;
    margin: 30px;
    width: 1400px;
    height: 400px;
    text-align: left;
}
.img3 img{
    position: absolute;
    top: 1900px;
    width: 550px;
    height: 650px;
}
.img3 h1{
    position: absolute;
    top: 1900px;
    left: 690px;
    font-size: 85px;
    font-weight: bold;
    color: white;
}
.img3 p{
    position: absolute;
    left: 690px;
    top: 2300px;
    color: white;
    font-size: 25px;
}
.box1{
    /* border: 1px solid black; */
    position: absolute;
    top: 2450px;
    width: 290px;
    height: 290px;
    left: 450px;
    background-color: goldenrod;
    font-size: 35px;
}
.box2{
    /* border: 1px solid black; */
    position: absolute;
    top: 2450px;
    width: 290px;
    height: 290px;
    left: 880px;
    background-color: goldenrod;
    font-size: 35px;
}
.box3{
    /* border: 1px solid black; */
    position: absolute;
    top: 2450px;
    width: 290px;
    height: 290px;
    left: 1300px;
    background-color: goldenrod;
    font-size: 35px;
}
.whiteHead h2{
    position: absolute;
    top: 2800px;
    font-weight: bold;
    font-size: 75px;
    left: 100px;

}
.whiteHead h4{
    position: absolute;
    top: 3150px;
    font-size: 35px;
    left: 100px;
}
.whiteHead img{
    position: absolute;
    top: 2800px;
    left: 935px;
    width: 574px;
    height: 600px;
}
.whiteHead i{
    position: absolute;
    top: 3200px;
    left: 500px;
    font-size: 35px;
}
.img5 img{
    position: absolute;
    top: 3300px;
    width: 774px;
    height: 474;
    left: 20px;
}
.img5 h2{
    position: absolute;
    top: 3450px;
    left: 1010px;
    font-size: 35px;
    font-weight: bold;
}
.img5 h3{
    position: absolute;
    top: 3550px;
    left: 1010px;
    font-size: 25px;
    font-weight: bold;
    color:grey;
}
.img6 h2{
    position: absolute;
    top: 3800px;
    font-size: 35px;
    font-weight: bold;
    left: 100px;
}
.img6 h3{
    position: absolute;
    top: 3900px;
    font-size: 25px;
    font-weight: bold;
    color: grey;
    left: 100px;
}
.img6 img{
    position: absolute;
    top: 3800px;
    left: 940px;
    width: 574px;
    height: 300px;
}
.head7 h2{
    position: absolute;
    top: 4200px;
    left: 1010px; 
    font-size: 35px;
    font-weight: bold;
}
.head7 h3{
    position: absolute;
    top: 4300px;
    left: 1010px;
    font-size: 25px;
    font-weight: bold;
    color: grey;
}
.head8 h1{
    position: absolute;
    top: 4500px;
    font-size: 65px;
    font-weight: bold;
    color: black;
    left: 100px;

}
.box01 h1{
    position: absolute;
    top: 4800px;
    width: 60px;
    height: 60px;
    background-color: goldenrod;
    font-size: 35px;
    text-align: center;
    left: 110px;
}
.box01 h2{
    position: absolute;
    top: 4960px;
    font-size: 30px;
    font-weight: bold;
    left: 100px;

}
.box01 h3{
    position: absolute;
    top: 5000px;
    font-size: 25px;
    color: grey;
    left: 100px;

}
.box01 h4{
    position: absolute;
    font-size: 35px;
    color: black;
    top: 4780px;
    left:680px;
}
.box02 h1{
    position: absolute;
    top: 4800px;
    width: 60px;
    height: 60px;
    background-color: goldenrod;
    font-size: 35px;
    text-align: center;
    left: 600px;
}
.box02 h2{
    position: absolute;
    top: 4960px;
    font-size: 30px;
    font-weight: bold;
    left: 600px;

}
.box02 h3{
    position: absolute;
    top: 5000px;
    font-size: 25px;
    color: grey;
    left: 600px;
}
.box02 h4{
    position: absolute;
    font-size: 35px;
    color: black;
    top: 4780px;
    left:190px;
}
.box03 h1{
    position: absolute;
    top: 4800px;
    width: 60px;
    height: 60px;
    background-color: goldenrod;
    font-size: 35px;
    text-align: center;
    left: 1120px;
}
.box03 h2{
    position: absolute;
    top: 4960px;
    font-size: 30px;
    font-weight: bold;
    left: 1120px;

}
.box03 h3{
    position: absolute;
    top: 5000px;
    font-size: 25px;
    color: grey;
    left: 1120px;
}
.bottomHead h1{
    position: absolute;
    left: 100px;
    top: 5200px;
    font-size: 90px;
}
.bottomHead h3{
    position: absolute;
    left: 750px;
    top: 5250px;
    font-size: 25px;
    color:grey;
}

.footer1 h4{
    position: absolute;
    left: 150px;
    top: 5800px;
    font-size: 25px;
    cursor: pointer;
}
.footer1 ul{
    position: absolute;
    left: 80px;
    top: 5870px;
    font-size: 20px;
    color: slategray;
    cursor: pointer;
}

.footer2 h4{
    position: absolute;
    left: 400px;
    top: 5800px;
    font-size: 25px;
    cursor: pointer;
}
.footer2 ul{
    position: absolute;
    left: 350px;
    top: 5870px;
    font-size: 20px;
    color: slategray;
    cursor: pointer;
}
.footer3 h4{
    position: absolute;
    left: 700px;
    top: 5800px;
    font-size: 25px;
    cursor: pointer;
}
.footer3 ul{
    position: absolute;
    left: 640px;
    top: 5870px;
    font-size: 20px;
    color: slategray;
    cursor: pointer;
}
.footer4 h4{
    position: absolute;
    left: 1000px;
    top: 5800px;
    font-size: 25px;
    cursor: pointer;
}
.footer4 ul{
    position: absolute;
    left: 950px;
    top: 5870px;
    font-size: 20px;
    color: slategray;
    cursor: pointer;
}
.footer5 h4{
    position: absolute;
    left:1350px;
    top: 5800px;
    font-size: 25px;
    cursor: pointer;
}
.footer5 ul{
    position: absolute;
    left: 1300px;
    top: 5870px;
    font-size: 20px;
    color: slategray;
    cursor: pointer;
}
.head h5{
    position: absolute;
    left: 140px;
    color: slategray;
    top: 6050px;
}
